{% extends "base_home.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Crear conjunto celdas</h2>
    <div class="row justify-content-center">
        <div class="col-md-4">  <!-- Cambié el tamaño de la columna para hacer el card más pequeño -->
            <div class="card shadow-sm">
                <div class="card-body">
                    <form method="POST" action="">
                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <label for="nombre_conjunto" class="form-label">Nombre conjunto de celdas</label>
                            <input type="text" class="form-control form-control-sm" id="nombre_conjunto" name="nombre_conjunto" placeholder="" required style="max-width: 350px;">
                        </div>

                        <div class="mb-3">
                            <label for="cantidad_celdas" class="form-label">Cantidad celdas</label>
                            <input type="number" step="1" min="1" max="10" class="form-control form-control-sm" id="cantidad_celdas" name="cantidad_celdas" placeholder="1-10" required style="max-width: 350px;">
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-outline-success" style="max-width: 150px; margin: auto;">Crear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}