{% extends "base_home.html" %}
{% load static %}

{% block content %}
    <h1>{{ parqueadero.prq_nombre }}</h1>

    {% for zona_data in info_zonas %} <!-- For iterar zonas -->

        <h2>{{ zona_data.info_zona.zna_nombre_zona }}</h2> 
        
        {% for conjunto_data in zona_data.conjunto_celdas %} <!-- For iterar conjuntos -->
            <h3>{{ conjunto_data.info_conjunto.cnj_nombre_conjunto }}</h3>
            
            <ul>
                {% for celda_data in conjunto_data.celdas %} <!-- For iterar celdas -->
                    <li>{{ celda_data.info_celda.cld_nombre_celda }}</li>
                {% endfor %} <!-- Fin for iterar celdas -->
            </ul>
        {% endfor %} <!-- Fin for iterar conjuntos -->
        <a href="{% url 'crear_conjunto_celdas' zona_id=info_zona.zna_id %}">crear conjunto de celdas</a>
    {% endfor %} <!-- Fin for iterar zonas -->
{% endblock content %}