{% extends 'base_parkingadmin.html' %}
{% load static %}

{% block content %}
    <div>
        <h1>Subir Imagen</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="image" accept="image/*" required class="custom-file-input">
            <button type="submit">Subir</button>
        </form>
    </div>

    {% if url_imagen_vehiculo %}
        <div style="border: 1px solid #ddd; padding: 10px; width: 300px; height: 300px;">
            <img src="{{ url_imagen_vehiculo }}" alt="Imagen subida" style="max-width: 100%; max-height: 100%;">
        </div>
    {% endif %}

    {% if vehiculo_existe %}
        <div style="border: 1px solid #ddd; padding: 10px; width: 300px; height: 300px;">
            <p>El vehiculo ya existe. ingreso permitido</p>
        </div>
    {% elif vehiculo_existe == False %}
        <div style="border: 1px solid #ddd; padding: 10px; width: 300px; height: 300px;">
            <p>El vehiculo no existe, porfavor procede con el registro</p>
        </div>
    {% endif %}

{% endblock content %}