{% extends 'base_home.html' %}
{% load static %}

{% block content %}
<div class="container min-vh-100 d-flex align-items-center justify-content-center py-5">
    <div class="card w-75" style="background-color: #f8f9fa; border: 1px solid #ced4da; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <div class="card-body p-4">
            <h1 class="text-center text-primary">{{ parqueadero.prq_nombre }}</h1>
            <!-- Formulario de carga de imagen y resultados dinámicos -->
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                <!-- Sección de carga de imagen -->
                <div class="p-3 mb-4" style="background-color: #e9ecef; border-radius: 8px; border: 1px solid #ced4da;">
                    <label for="image" class="form-label text-muted">Carga la Imagen del Vehículo:</label>
                    <input type="file" name="image" id="image" accept="image/*" required class="form-control">
                </div>

                <!-- Vista previa de la imagen -->
                <div class="mb-4 text-center">
                    {% if url_imagen_vehiculo %}
                        <img src="{{ url_imagen_vehiculo }}" class="img-fluid shadow-sm" alt="Imagen del vehículo" style="max-height: 250px; max-width: 80%; object-fit: contain; border: 1px solid #adb5bd; border-radius: 12px;">
                    {% else %}
                        <p class="text-muted">No hay imagen cargada aún.</p>
                    {% endif %}
                </div>

                <!-- Botón de envío -->
                <div class="d-flex justify-content-center mb-4">
                    <button type="submit" class="btn btn-outline-primary px-4" style="min-width: 150px;">Enviar</button>
                </div>

                <!-- Card para los resultados de la placa y estado del vehículo -->
                {% if placa_vehiculo %}
                <div class="card mb-4" style="background-color: #ffffff; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
                    <div class="card-body p-3 text-center">
                        <img src="{{ url_imagen_recorte_placa }}" class="img-fluid shadow-sm mb-2" alt="Imagen de la placa" style="height: auto; max-height: 200px; object-fit: contain; width: auto; max-width: 100%; border-radius: 3px;">
                        <h5 class="mb-3 text-dark">Placa Detectada: <strong>{{ placa_vehiculo }}</strong></h5>

                        <!-- Estado del vehículo y acciones -->
                        <div>
                            {% if error_prediccion %}
                            <div class="alert alert-danger text-center">
                                <strong>{{ error_prediccion }}</strong>
                            </div>
                            {% else %}
                                {% if vehiculo_existe %}
                                    <div class="alert alert-info text-center">
                                        <strong>¡Vehículo encontrado!</strong> Ya está registrado.
                                    </div>
                                    <div class="d-flex justify-content-center mt-3">
                                        <a href="{% url 'ingreso_vehiculo' parqueadero.prq_id %}?url_imagen_vehiculo={{ url_imagen_vehiculo }}&placa={{ placa_vehiculo }}" class="btn btn-outline-success me-2">Registrar Ingreso</a>
                                        <a href="{% url 'egreso_vehiculo' parqueadero.prq_id %}?url_imagen_vehiculo={{ url_imagen_vehiculo }}&placa={{ placa_vehiculo }}" class="btn btn-outline-danger">Registrar Salida</a>
                                    </div>
                                {% elif vehiculo_existe == False  %}
                                    <div class="alert alert-warning text-center">
                                        <strong>Vehículo no encontrado.</strong> Regístralo para continuar
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% elif url_imagen_vehiculo and not placa_vehiculo %}
                    <div class="alert alert-danger text-center">
                        <strong>{{ error_prediccion }}</strong>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock content %}