{% extends 'base_parkingadmin.html' %}
{% load static %}

{% block content %}
<div class="container pt-4">
    <div class="card mb-4">
        <div class="card-body text-center">
            <h2 class="card-title">Bienvenido {{ universidad.unv_nombre }}</h2>
            <p class="card-text">En parkAI podrás gestionar parqueaderos, .</p>
        </div>
    </div>

    <div class="d-flex flex-wrap justify-content-start">
        <div class="card text-center mb-3 mx-2" style="width: 20rem;">
            <div class="card-body">
                <img src="{% static 'empresas.png' %}" alt="Logo" class="mb-2" style="width: 50px; height: 50px; display: block; margin: 0 auto;">
                <h5 class="card-title">Empresas</h5>
                <p class="card-text">Acerca de empresas, las cuales contienen uno ó más negocios.</p>
                <a href="#!" class="btn btn-success">Ir ahora</a>
            </div>
        </div>

        <div class="card text-center mb-3 mx-2" style="width: 20rem;">
            <div class="card-body">
                <img src="{% static 'negocios.png' %}" alt="Logo" class="mb-2" style="width: 50px; height: 50px; display: block; margin: 0 auto;">
                <h5 class="card-title">Negocios</h5>
                <p class="card-text">Negocios pertenecientes a cierta empresa.</p>
                <a href="#!" class="btn btn-success">Ir ahora</a>
            </div>
        </div>

        <div class="card text-center mb-3 mx-2" style="width: 20rem;">
            <div class="card-body">
                <img src="{% static 'servicios.png' %}" alt="Logo" class="mb-2" style="width: 50px; height: 50px; display: block; margin: 0 auto;">
                <h5 class="card-title">Servicios</h5>
                <p class="card-text">Servicios que ofrece cierto negocio.</p>
                <a href="#" class="btn btn-success">Ir ahora</a>
            </div>
        </div>

    </div>
</div>
{% endblock content %}