<style>
    .custom-bg2 {
        background-color: #98d3d8; 
        border: 2px solid #98d3d8;
    }
    .custom-bg3 {
        background-color: #c04c4c; 
        border: 2px solid #c04c4c;
    }
</style>

<div style="border-bottom: 2px solid #9b9090; width: 100%; margin: 20px 0;" class="p-1"></div>
<footer class="container d-flex justify-content-between align-items-center p-1" style="margin-top: 20px;">
    <p class="mb-0">&copy; 2024 parkAI, Inc. &middot; <a href="{% url 'sobreNosotrosUsers' %}" class="text-black fw-bold">Sobre nosotros</a> &middot;</p>
    <a href="#" class="btn btn-primary custom-bg2 text-black fw-bold">Back to top</a>
</footer>
